In [1]:
import pandas as pd

In [2]:
long = pd.read_csv("2020_01_windowed_activity_long.csv")
long.head()

   Unnamed: 0             datetime  station  value biketype operation
0           0  2020-01-01T00:00:00        1   39.0     mech      pick
1           1  2020-01-02T00:00:00        1   54.0     mech      pick
2           2  2020-01-03T00:00:00        1   83.0     mech      pick
3           3  2020-01-04T00:00:00        1   48.0     mech      pick
4           4  2020-01-05T00:00:00        1   45.0     mech      pick

In [11]:
aggregated = long.groupby(["station", "biketype", "operation"]).mean()
aggregated = aggregated.drop(columns = "Unnamed: 0")
aggregated.head()

                                value
station biketype operation
1       elec     drop       14.806452
                 pick       14.806452
        mech     drop       55.903226
                 pick       61.903226
2       elec     drop       10.322581

In [15]:
dropped = aggregated[aggregated["value"]!=0]

In [16]:
dropped.to_csv("2020_01_.csv")